<div class="col-lg-6 user-edit offset-3" *ngIf="identity">
 
<form class="update-form" #updateForm="ngForm" (ngSubmit)="onSubmit()" >
	<div class="title">
    	<p>{{titulo}}</p>
	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" #name="ngModel" [(ngModel)]="user.name" class="form-control" placeholder="name" name="name" required/>
	</div>
	<div class="form-group">
		<label for="surname">Surname</label>
		<input type="text" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" placeholder="surname" name="surname" required/>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="email address" name="email" required/>
	</div>
	<div class="form-group">
		<label for="image">Image</label>
		<input type="file" class="form-control" placeholder="Upload image" (change)="fileChangeEvent($event)" />
	</div>
	<div class="image-for-edit form-group" *ngIf="user.image">
		<img src="{{url+ 'user-get-avatar/' + user.image}}" alt="" style="width: 200px" class="img-thumbnail" onerror="this.onerror=null; this.src='../../assets/img/defaultAvatar.png';">
	</div>
	
	
	<button class=" btn button">Update</button>

</form>

<!-- Mensaje error login/registro -->

<div class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">
  <strong>Error!</strong> {{errorMessage}}
</div>

<!-- Mensaje exito login/registro  -->
<div class="alert alert-success success-message" role="alert" *ngIf="successMessage">
  {{successMessage}}
</div>



</div>
