<div class="container-fluid">

<!-- DASHBOARD -->
<div class="row">
  <div *ngIf="identity" class="navigation col-lg-1">
    <h1>{{title}}</h1>
  </div>
  <div class="clearfix"></div>

  <div *ngIf="identity" class="central col-lg-11">
    <p>Log Successful! Welcome  {{identity.name}} {{identity.surname}}</p>
    <div class="logout-button" (click)="logOut()">Log out</div>
  </div>

</div>

<!-- LOGIN / REGISTER -->

<div id="log_reg" *ngIf="!identity">

  <div class="login-page">
    <div class="form">

      <form class="register-form" #registerForm = "ngForm" (ngSubmit) = "onSubmitRegister()" [@registerState]="registerState" >
        <div class="title">
          <p> Register</p>
        </div>
        <input type="text" #name= "ngModel" [(ngModel)]="user_register.name" placeholder="name" name = "name"  required/>
        <input type="text" #surname= "ngModel" [(ngModel)]="user_register.surname" placeholder="surname" name = "surname"  required/>
        <input type="email" #email= "ngModel" [(ngModel)]="user_register.email" placeholder="email address" name = "email" required />
        <input type="password" #password= "ngModel" [(ngModel)]="user_register.password" placeholder="password" name = "password"  required/>
        <button>create</button>
        
        <p class="message">Already registered? <a href="#" (click) = "toggleRegister()">Sign In</a></p>
      </form>

      <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" class="login-form" [@loginState]="loginState" >
        <div class="title">
          <p> Login</p>
        </div>
        
          <input type="email" #email="ngModel" [(ngModel)]="user.email" class="input-block-level" placeholder="Email address" name="email" required />
          <!-- <span *ngIf="!email.valid && email.touched">Campo obligatorio</span> -->
       
        <input type="password" #password = "ngModel" [(ngModel)]="user.password" class="input-block-level" placeholder="Password" name="password" required />
        <button type="submit" name="btn-login">Login</button>
        <p class="message">Not registered? <a href="#" (click) = "toggleLogin()">Create an account</a>
        </p>
      </form>
    </div>

    <!-- Mensaje error login -->

    <div class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">
      <strong>Error!</strong> {{errorMessage}}
    </div>

  </div>
</div>

<!-- END CONTAINER -->
</div> 

