
<div class="container-fluid ">



<!-- DASHBOARD -->
<div class="row">
  <div *ngIf="identity" class="navigation col-lg-1">
    <h1 class="head-title">
        <a [routerLink]="['/']">
            {{title}}
        </a>
    </h1>
    <div class="row">
      <nav id="navigation" class="col-lg-12 ">
          <a ><span class="fas fa-search" aria-hidden="true"></span> <span class="nav-item-text">Search</span></a>
          <a [routerLink]="['/artists',1]" [routerLinkActive]="['activeLink']"><span class="fas fa-star" aria-hidden="true"></span> <span class="nav-item-text">Artists</span></a>
          <a ><span class="fas fa-music" aria-hidden="true"></span ><span class="nav-item-text">Albums</span></a>   
  
      </nav>
      <nav id="user_logged" class="col-lg-12 ">
          <div class="user-image rounded" >
          <img id="user-image" src="{{url + 'user-get-avatar/' + identity.image}}" alt="" onerror="this.onerror=null;this.src='imagefound.gif';" >
          </div>
  
          <span id="identity_name">{{identity.name}}</span>
  
         
          <a  [routerLink]="['/user-data']" [routerLinkActive]="['activeLink']"><span class="fas fa-user-edit" aria-hidden="true" ></span><span class="nav-item-text">User edit</span></a>
          <a class="btn logout-button " (click)="logOut()"><span class="fas fa-sign-out-alt"></span> <span class="logout-text">Log out</span></a>
      </nav>
    </div>

  </div>


  <div [class.hidden]="!identity" class="central col-lg-11">
    
    <div class="padding-20"></div>
    <router-outlet></router-outlet>
   
  </div>





<!-- LOGIN / REGISTER -->

  <div id="log_reg" *ngIf="!identity">

    <div class="login-page">
      <div class="form">

        <form class="register-form" #registerForm = "ngForm" (ngSubmit) = "onSubmitRegister()" [@registerState]="registerState" >
            <div class="title">
            <p> Register</p>
            </div>
            <input type="text" #name= "ngModel" [(ngModel)]="user_register.name" placeholder="name" name = "name"  required/>
            <input type="text" #surname= "ngModel" [(ngModel)]="user_register.surname" placeholder="surname" name = "surname"  required/>
            <input type="email" #email= "ngModel" [(ngModel)]="user_register.email" placeholder="email address" name = "email" required />
            <input type="password" #password= "ngModel" [(ngModel)]="user_register.password" placeholder="password" name = "password"  required/>
            <button class="button" type="submit" name="btn-login">Login</button>


          
            <p class="message">Already registered? <a href="#" (click) = "toggleRegister()">Sign In</a></p>
        </form>

        <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" class="login-form" [@loginState]="loginState" >
          <div class="title">
            <p> Login</p>
          </div>
          
            <input type="email" #email="ngModel" [(ngModel)]="user.email" class="input-block-level" placeholder="Email address" name="email" required />
            <!-- <span *ngIf="!email.valid && email.touched">Campo obligatorio</span> -->
        
          <input type="password" #password = "ngModel" [(ngModel)]="user.password" class="input-block-level" placeholder="Password" name="password" required />
          <button  class="button" type="submit" name="btn-login">Login</button>
          <p class="message">Not registered? <a href="#" (click) = "toggleLogin()">Create an account</a>
          </p>
        </form>
      </div>

      <!-- Mensaje error login/registro -->

      <div class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">
        <strong>Error!</strong> {{errorMessage}}
      </div>

      <!-- Mensaje exito login/registro  -->
      <div class="alert alert-success success-message" role="alert" *ngIf="successMessage">
        {{successMessage}}
      </div>

    </div>
  </div>

</div>


<!-- END CONTAINER -->
</div> 

