.central {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(/assets/img/band.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}