
<div class="col-lg-6 offset-3" *ngIf="identity && identity.role === 'ROLE_ADMIN'">

	<h1>{{titulo}}</h1>
	
	<form #formArtist="ngForm" (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" #name="ngModel" [(ngModel)]="artist.name" class="form-control" placeholder="Name" name="name" required/>
			<span *ngIf="!name.valid && name.touched"> Artist name not valid. Please enter artist name.</span>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea placeholder="Artist description" name="description" class="form-control"  #description="ngModel" [(ngModel)]="artist.description" id="" cols="30" rows="5" required></textarea>
			<span *ngIf="!description.valid && description.touched"> Description is mandatory.</span>
		</div>
		<div *ngIf="is_edit">

			<div class="imageForEdit" *ngIf="artist.image && artist.image !== 'null'">
				<img id="artistImgEdit" src="{{url +  'artist-get-image/' + artist.image}}" alt="" onerror="this.onerror=null; this.src='assets/img/band.jpg';">
			</div>
			<div class="form-group">
				<label for="image">Artist image</label>
				<p><input type="file" name="image" id="image" (change)="fileChangeEvent($event)"></p>
			</div>

		</div>
		
		<input type="submit" value="Save artist" [disabled]="!formArtist.form.valid" class="btn btn-success">
	</form>

	<!-- Mensaje error  -->

	<div class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">
	<strong>Error!</strong> {{errorMessage}}
	</div>

	<!-- Mensaje exito  -->
	<div class="alert alert-success success-message" role="alert" *ngIf="successMessage">
	{{successMessage}}

	</div>


</div>
<div class="col-lg-6 offset-3" *ngIf="!identity && identity.role !== 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>Acceso prohibido a esta sección de la aplicacion</p>
</div>

